.toast-actions  {
    font-size: 12px;
    color: silver; 
    text-decoration: none;
}
.toast-actions:hover {
    font-size: 12px;
    color: grey; 
    text-decoration: none;
}
.transparent-button {
    border: none;
    background-color: Transparent;
}
.date-look {
    color: grey; 
    font-size: 10px;
}

.login-form-button {
    width: 49%; 
    background-color: #512aa7; 
    border: none
}
.login-form-button:hover {
    width: 49%; 
    background-color: #7c43f7; 
    border: none
}
.register-form-button {
  width: 100%; 
  background-color: #512aa7; 
  border: none
}
.register-form-button:hover {
  width: 100%; 
  background-color: #512aa7; 
  border: none
}

.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  @media (min-width: 992px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
  }

.bagde-changelog {
    margin-left: 1%;
}